In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
from sklearn.ensemble import AdaBoostClassifier
from sklearn.preprocessing import *
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import RandomizedSearchCV

In [2]:
attrition=pd.read_csv('C:\\Users\\ABC\\Downloads\\attrition.csv')

In [3]:
#Base Gradient Boosting Classifier
gb=GradientBoostingClassifier()

In [4]:
from sklearn.model_selection import train_test_split as tts

In [5]:
x=attrition.drop('Attrition',axis=1)

In [6]:
y=attrition.Attrition

In [7]:
x

,Age,BusinessTravel,Department,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DistanceFromHome
0,41,Travel_Rarely,Sales,Life Sciences,2,Female,3,2,4,Single,5993,Yes,8,1,6,4,0,5,1
1,49,Travel_Frequently,Research & Development,Life Sciences,3,Male,2,2,2,Married,5130,No,10,3,10,7,1,7,8
2,37,Travel_Rarely,Research & Development,Other,4,Male,2,1,3,Single,2090,Yes,7,3,0,0,0,0,2
3,33,Travel_Frequently,Research & Development,Life Sciences,4,Female,3,1,3,Married,2909,Yes,8,3,8,7,3,0,3
4,27,Travel_Rarely,Research & Development,Medical,1,Male,3,1,2,Married,3468,No,6,3,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,Research & Development,Medical,3,Male,4,2,4,Married,2571,No,17,3,5,2,0,3,23
1466,39,Travel_Rarely,Research & Development,Medical,4,Male,2,3,1,Married,9991,No,9,3,7,7,1,7,6
1467,27,Travel_Rarely,Research & Development,Life Sciences,2,Male,4,2,2,Married,6142,Yes,6,3,6,2,0,3,4
1468,49,Travel_Frequently,Sales,Medical,4,Male,2,2,2,Married,5390,No,17,2,9,6,0,8,2
1469,34,Travel_Rarely,Research & Development,Medical,2,Male,4,2,3,Married,4404,No,6,4,4,3,1,2,8

In [8]:
x_num=x.select_dtypes('number')
x_cat=x.select_dtypes('object')

In [9]:
from sklearn.preprocessing import scale

In [10]:
x_num_scaled=pd.DataFrame(scale(x_num),columns=x_num.columns)

In [11]:
x_num_scaled

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DistanceFromHome
0,0.446350,-0.660531,0.379672,-0.057788,1.153254,-0.108350,-0.421642,-2.493820,-0.164613,-0.063296,-0.679146,0.245834,-1.010909
1,1.322365,0.254625,-1.026167,-0.057788,-0.660853,-0.291719,-0.164511,0.338096,0.488508,0.764998,-0.368715,0.806541,-0.147150
2,0.008343,1.169781,-1.026167,-0.961486,0.246200,-0.937654,-0.550208,0.338096,-1.144294,-1.167687,-0.679146,-1.155935,-0.887515
3,-0.429664,1.169781,0.379672,-0.961486,0.246200,-0.763634,-0.421642,0.338096,0.161947,0.764998,0.252146,-1.155935,-0.764121
4,-1.086676,-1.575686,0.379672,-0.961486,-0.660853,-0.644858,-0.678774,0.338096,-0.817734,-0.615492,-0.058285,-0.595227,-0.887515
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,0.254625,1.785511,-0.057788,1.153254,-0.835451,0.735447,0.338096,-0.327893,-0.615492,-0.679146,-0.314873,1.703764
1466,0.227347,1.169781,-1.026167,0.845911,-1.567907,0.741140,-0.293077,0.338096,-0.001333,0.764998,-0.368715,0.806541,-0.393938
1467,-1.086676,-0.660531,1.785511,-0.057788,-0.660853,-0.076690,-0.678774,0.338096,-0.164613,-0.615492,-0.679146,-0.314873,-0.640727
1468,1.322365,1.169781,-1.026167,-0.057788,-0.660853,-0.236474,0.735447,-1.077862,0.325228,0.488900,-0.679146,1.086895,-0.887515
1469,-0.320163,-0.660531,1.785511,-0.057788,0.246200,-0.445978,-0.678774,1.754054,-0.491174,-0.339394,-0.368715,-0.595227,-0.147150

In [12]:
x_cat_dummies=pd.get_dummies(x_cat)

In [13]:
x_cat_dummies

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0
1466,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0
1467,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,1
1468,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0
1469,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0

In [14]:
x_processed=pd.concat([x_num_scaled,x_cat_dummies],axis=1)

In [15]:
x_processed

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,...,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.446350,-0.660531,0.379672,-0.057788,1.153254,-0.108350,-0.421642,-2.493820,-0.164613,-0.063296,...,0,0,0,1,0,0,0,1,0,1
1,1.322365,0.254625,-1.026167,-0.057788,-0.660853,-0.291719,-0.164511,0.338096,0.488508,0.764998,...,0,0,0,0,1,0,1,0,1,0
2,0.008343,1.169781,-1.026167,-0.961486,0.246200,-0.937654,-0.550208,0.338096,-1.144294,-1.167687,...,0,1,0,0,1,0,0,1,0,1
3,-0.429664,1.169781,0.379672,-0.961486,0.246200,-0.763634,-0.421642,0.338096,0.161947,0.764998,...,0,0,0,1,0,0,1,0,0,1
4,-1.086676,-1.575686,0.379672,-0.961486,-0.660853,-0.644858,-0.678774,0.338096,-0.817734,-0.615492,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,0.254625,1.785511,-0.057788,1.153254,-0.835451,0.735447,0.338096,-0.327893,-0.615492,...,1,0,0,0,1,0,1,0,1,0
1466,0.227347,1.169781,-1.026167,0.845911,-1.567907,0.741140,-0.293077,0.338096,-0.001333,0.764998,...,1,0,0,0,1,0,1,0,1,0
1467,-1.086676,-0.660531,1.785511,-0.057788,-0.660853,-0.076690,-0.678774,0.338096,-0.164613,-0.615492,...,0,0,0,0,1,0,1,0,0,1
1468,1.322365,1.169781,-1.026167,-0.057788,-0.660853,-0.236474,0.735447,-1.077862,0.325228,0.488900,...,1,0,0,0,1,0,1,0,1,0
1469,-0.320163,-0.660531,1.785511,-0.057788,0.246200,-0.445978,-0.678774,1.754054,-0.491174,-0.339394,...,1,0,0,0,1,0,1,0,1,0

In [16]:
x_train,x_test,y_train,y_test=tts(x_processed,y,stratify=y,random_state=365,test_size=0.2)

In [17]:
gb.fit(x_train,y_train)

GradientBoostingClassifier()

In [18]:
pd.DataFrame(data=[accuracy_score(y_train,gb.predict(x_train)), recall_score(y_train, gb.predict(x_train)),
                   precision_score(y_train, gb.predict(x_train)), roc_auc_score(y_train, gb.predict(x_train)),
                   f1_score(y_train,gb.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.937925
recall         0.642105
precision      0.960630
roc_auc_score  0.818517
f1_score       0.769716

In [19]:
pd.DataFrame(data=[accuracy_score(y_test,gb.predict(x_test) ), recall_score(y_test, gb.predict(x_test)),
                   precision_score(y_test, gb.predict(x_test)), roc_auc_score(y_test, gb.predict(x_test)),
                   f1_score(y_test,gb.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.853741
recall         0.297872
precision      0.583333
roc_auc_score  0.628693
f1_score       0.394366

In [20]:
parameters={'loss':['log_loss','deviance','exponential'],'learning_rate':[0.001,0.01,0.1,1,10],'criterion':['friedman_mse',"squared_error"],
           'min_samples_leaf':[2,5,8,11,14],'min_samples_split':[2,5,8,11,14],'max_depth':[5,10,15,20,25],'max_features':['auto','sqrt','log2'],
           'max_leaf_nodes':[2,4,6,8,10],'max_features':['auto','sqrt','log2']}

In [21]:
gridr=RandomizedSearchCV(estimator=gb,param_distributions=parameters,scoring='f1',n_jobs=4,cv=5,return_train_score=True
                       ,refit='f1',n_iter=10000)

In [22]:
gridr.fit(x_train,y_train)

C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
16860 fits failed out of a total of 50000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
16860 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_gb.py", line 525, in fit
    self._check_params()
  File "C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_gb.py", line 282, in _check_params
    raise ValueError("Loss '{0:s}' not supported. ".format(self.loss))
ValueError: Loss 'log_loss' not supported.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.31767003 0.                nan ... 0.         0.33067853        nan]
  warnings.warn(
C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [0.34436326 0.                nan ... 0.         0.35936839        nan]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=GradientBoostingClassifier(), n_iter=10000,
                   n_jobs=4,
                   param_distributions={'criterion': ['friedman_mse',
                                                      'squared_error'],
                                        'learning_rate': [0.001, 0.01, 0.1, 1,
                                                          10],
                                        'loss': ['log_loss', 'deviance',
                                                 'exponential'],
                                        'max_depth': [5, 10, 15, 20, 25],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'max_leaf_nodes': [2, 4, 6, 8, 10],
                                        'min_samples_leaf': [2, 5, 8, 11, 14],
                                        'min_samples_split': [2, 5, 8, 11, 14]},
                   refit='f1', return_train_score=True, scoring='f1')

In [23]:
gridr.best_score_

0.538480703148553

In [24]:
gridr.best_params_

{'min_samples_split': 11,
 'min_samples_leaf': 5,
 'max_leaf_nodes': 2,
 'max_features': 'sqrt',
 'max_depth': 20,
 'loss': 'deviance',
 'learning_rate': 1,
 'criterion': 'friedman_mse'}

In [34]:
gb2=GradientBoostingClassifier(**gridr.best_params_)

In [35]:
gb2.fit(x_train,y_train)

GradientBoostingClassifier(learning_rate=1, max_depth=20, max_features='sqrt',
                           max_leaf_nodes=2, min_samples_leaf=5,
                           min_samples_split=11)

In [36]:
pd.DataFrame(data=[accuracy_score(y_train,gb2.predict(x_train)), recall_score(y_train, gb2.predict(x_train)),
                   precision_score(y_train, gb2.predict(x_train)), roc_auc_score(y_train, gb2.predict(x_train)),
                   f1_score(y_train,gb2.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.906463
recall         0.542105
precision      0.817460
roc_auc_score  0.759389
f1_score       0.651899

In [37]:
pd.DataFrame(data=[accuracy_score(y_test,gb2.predict(x_test) ), recall_score(y_test, gb2.predict(x_test)),
                   precision_score(y_test, gb2.predict(x_test)), roc_auc_score(y_test, gb2.predict(x_test)),
                   f1_score(y_test,gb2.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.874150
recall         0.489362
precision      0.638889
roc_auc_score  0.718365
f1_score       0.554217

In [38]:
#Using SMOTE
x_trains,y_trains=SMOTE(sampling_strategy='not majority').fit_resample(x_train,y_train)

In [39]:
gb2.fit(x_trains,y_trains)

GradientBoostingClassifier(learning_rate=1, max_depth=20, max_features='sqrt',
                           max_leaf_nodes=2, min_samples_leaf=5,
                           min_samples_split=11)

In [40]:
pd.DataFrame(data=[accuracy_score(y_trains,gb2.predict(x_trains)), recall_score(y_trains, gb2.predict(x_trains)),
                   precision_score(y_trains, gb2.predict(x_trains)), roc_auc_score(y_trains, gb2.predict(x_trains)),
                   f1_score(y_trains,gb2.predict(x_trains))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.935598
recall         0.911765
precision      0.957401
roc_auc_score  0.935598
f1_score       0.934026

In [41]:
pd.DataFrame(data=[accuracy_score(y_test,gb2.predict(x_test) ), recall_score(y_test, gb2.predict(x_test)),
                   precision_score(y_test, gb2.predict(x_test)), roc_auc_score(y_test, gb2.predict(x_test)),
                   f1_score(y_test,gb2.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.846939
recall         0.489362
precision      0.522727
roc_auc_score  0.702171
f1_score       0.505495

In [42]:
gb2.feature_importances_

array([0.02127674, 0.04885412, 0.01209192, 0.01664457, 0.05077458,
       0.09426402, 0.0073003 , 0.01545473, 0.0079153 , 0.00517904,
       0.01763706, 0.02779428, 0.0209083 , 0.03667445, 0.        ,
       0.02126101, 0.00071444, 0.00714401, 0.00104398, 0.00132368,
       0.0417711 , 0.00388139, 0.06984457, 0.0221051 , 0.00488934,
       0.01938996, 0.0066137 , 0.06413227, 0.07033859, 0.00186289,
       0.28091457, 0.        ])

In [43]:
#Using adaboost
from sklearn.ensemble import AdaBoostClassifier
ab=AdaBoostClassifier(base_estimator=GradientBoostingClassifier(**gridr.best_params_))

In [44]:
ab.fit(x_train,y_train)

AdaBoostClassifier(base_estimator=GradientBoostingClassifier(learning_rate=1,
                                                             max_depth=20,
                                                             max_features='sqrt',
                                                             max_leaf_nodes=2,
                                                             min_samples_leaf=5,
                                                             min_samples_split=11))

In [45]:
pd.DataFrame(data=[accuracy_score(y_train,ab.predict(x_train)), recall_score(y_train, ab.predict(x_train)),
                   precision_score(y_train, ab.predict(x_train)), roc_auc_score(y_train, ab.predict(x_train)),
                   f1_score(y_train,ab.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.941327
recall         0.747368
precision      0.871166
roc_auc_score  0.863035
f1_score       0.804533

In [46]:
pd.DataFrame(data=[accuracy_score(y_test,ab.predict(x_test) ), recall_score(y_test, ab.predict(x_test)),
                   precision_score(y_test, ab.predict(x_test)), roc_auc_score(y_test, ab.predict(x_test)),
                   f1_score(y_test,ab.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.826531
recall         0.531915
precision      0.462963
roc_auc_score  0.707253
f1_score       0.495050

Base Adaboost

In [47]:
ab1=AdaBoostClassifier()

In [48]:
ab1.fit(x_train,y_train)

AdaBoostClassifier()

In [49]:
pd.DataFrame(data=[accuracy_score(y_train,ab1.predict(x_train)), recall_score(y_train, ab1.predict(x_train)),
                   precision_score(y_train, ab1.predict(x_train)), roc_auc_score(y_train, ab1.predict(x_train)),
                   f1_score(y_train,ab1.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.894558
recall         0.457895
precision      0.805556
roc_auc_score  0.718298
f1_score       0.583893

In [50]:
pd.DataFrame(data=[accuracy_score(y_test,ab1.predict(x_test) ), recall_score(y_test, ab1.predict(x_test)),
                   precision_score(y_test, ab1.predict(x_test)), roc_auc_score(y_test, ab1.predict(x_test)),
                   f1_score(y_test,ab1.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.857143
recall         0.404255
precision      0.575758
roc_auc_score  0.673788
f1_score       0.475000

In [51]:
#trying bagging
from sklearn.ensemble import BaggingClassifier
b=BaggingClassifier(GradientBoostingClassifier(**gridr.best_params_),oob_score=True)

In [52]:
b.fit(x_train,y_train)

C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_bagging.py:706: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn(
C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_bagging.py:712: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = predictions / predictions.sum(axis=1)[:, np.newaxis]

BaggingClassifier(base_estimator=GradientBoostingClassifier(learning_rate=1,
                                                            max_depth=20,
                                                            max_features='sqrt',
                                                            max_leaf_nodes=2,
                                                            min_samples_leaf=5,
                                                            min_samples_split=11),
                  oob_score=True)

In [53]:
pd.DataFrame(data=[accuracy_score(y_train,b.predict(x_train)), recall_score(y_train, b.predict(x_train)),
                   precision_score(y_train, b.predict(x_train)), roc_auc_score(y_train, b.predict(x_train)),
                   f1_score(y_train,b.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.900510
recall         0.494737
precision      0.817391
roc_auc_score  0.736719
f1_score       0.616393

In [54]:
pd.DataFrame(data=[accuracy_score(y_test,b.predict(x_test) ), recall_score(y_test, b.predict(x_test)),
                   precision_score(y_test, b.predict(x_test)), roc_auc_score(y_test, b.predict(x_test)),
                   f1_score(y_test,b.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.884354
recall         0.468085
precision      0.709677
roc_auc_score  0.715824
f1_score       0.564103

In [55]:
#Combining bagging and adaboost
b2=BaggingClassifier(ab,oob_score=True)

In [56]:
b2.fit(x_train,y_train)

C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_bagging.py:706: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn(
C:\Users\ABC\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_bagging.py:712: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = predictions / predictions.sum(axis=1)[:, np.newaxis]

BaggingClassifier(base_estimator=AdaBoostClassifier(base_estimator=GradientBoostingClassifier(learning_rate=1,
                                                                                              max_depth=20,
                                                                                              max_features='sqrt',
                                                                                              max_leaf_nodes=2,
                                                                                              min_samples_leaf=5,
                                                                                              min_samples_split=11)),
                  oob_score=True)

In [57]:
pd.DataFrame(data=[accuracy_score(y_train,b2.predict(x_train)), recall_score(y_train, b2.predict(x_train)),
                   precision_score(y_train, b2.predict(x_train)), roc_auc_score(y_train, b2.predict(x_train)),
                   f1_score(y_train,b2.predict(x_train))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.869898
recall         0.505263
precision      0.619355
roc_auc_score  0.722713
f1_score       0.556522

In [58]:
pd.DataFrame(data=[accuracy_score(y_test,b2.predict(x_test) ), recall_score(y_test, b2.predict(x_test)),
                   precision_score(y_test, b2.predict(x_test)), roc_auc_score(y_test, b2.predict(x_test)),
                   f1_score(y_test,b2.predict(x_test))], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.819728
recall         0.319149
precision      0.416667
roc_auc_score  0.617064
f1_score       0.361446

In [59]:
#optimizing threshold on b
def threshold1(n=1000):
    th=np.linspace(0,1,n)
    f1=[]
    y_pred=b.predict_proba(x_test)
    for i in th:  
        y_pred1=np.where(y_pred[:,1]>i,1,0)
        f1.append(f1_score(y_test,y_pred1))
    return th[f1.index(max(f1))]

In [60]:
threshold1()

0.34934934934934936

In [61]:
y_pred_testb=np.where(b.predict_proba(x_test)[:,1]>threshold1(),1,0)

In [62]:
pd.DataFrame(data=[accuracy_score(y_test,y_pred_testb ), recall_score(y_test, y_pred_testb),
                   precision_score(y_test, y_pred_testb), roc_auc_score(y_test, y_pred_testb),
                   f1_score(y_test,y_pred_testb)], 
             index=["accuracy", "recall", "precision", "roc_auc_score","f1_score"])

                      0
accuracy       0.867347
recall         0.638298
precision      0.576923
roc_auc_score  0.774615
f1_score       0.606061